:root {
  --color-primary: #fff;
  --color-background: #0b248d;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  color: unset;
  outline: none;
  user-select: none;
  text-decoration: none;
  position: relative;
  font-weight: normal;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  margin: 0;
}

html {
  font-size: max(0.4vw, 10px);
}

@media (max-width: 768px) {
  html {  
    font-size: max(1.2vw, 0px);
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.hero {
  height: 100vh;
  /* display:flex;
  align-items:center;
  justify-content:center; */
  background: linear-gradient(120deg, #0f172a, #312e81);
}
.main {
  /* flex:1;
  display:flex;
  align-items:center;
  justify-content:center;
  background:linear-gradient(180deg,#0b1220,#071029) */
  background-color: #f9f9f9;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}
.modal-content {
  max-width: 100%;
  max-height: 100%;
}
.modal-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  width: 130rem;
  height:95rem;
}
